<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo_img.png">
    <!-- Template CSS -->
    <link href="/admin/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color: aquamarine;">
    <main>
        <section class="content-main mt-80 mb-80" style="background-color: aquamarine;">
            <div class="card mx-auto card-login">
                <div class="col-brand p-3">
                    <a href="/admin" class="brand-wrap">
                        <img src="/images/logo.png" class="logo" alt="Libhrex Dashboard" style="height: 50px;">
                    </a>
                </div>
                <div class="card-body pt-3">
                    <h4 class="card-title mb-4">Admin Login</h4>
                    <form action="/admin/signin" class="user" method="POST">
                        <div class="mb-3">
                            <input class="form-control" placeholder="Email Address" type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/>
                            <p style="color: red;">
                                <% if (adminErr) { %>
                                    admin doesn't exist
                                    <% } %>
                            </p>
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input class="form-control" placeholder="Password" type="password" name="password" required/>
                            <p style="color: red;">
                                <% if(passErr) { %>
                                incorrect password
                                <% } %></p>
                        </div> <!-- form-group// -->
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100"> Login </button>
                        </div> <!-- form-group// -->
                    </form>
                </div>
            </div>
        </section>
        <footer class="main-footer text-center">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Libhrex International Pvt Ltd
              </p>
        </footer>
    </main>
    <script src="/admin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/js/main.js" type="text/javascript"></script>
</body>

</html>