<section class="container">
    <table class="table mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
            </tr>
        </thead>

        <tbody>
            {{#each users}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.firstname}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mobile}}</td>
                <td><a href="/admin/edit-user/{{this._id}}" class="btn btn-primary" style="width: 100px;">Edit</a></td>
                {{#if this.blocked}}
                <td><a href="/admin/unblock-user/{{this._id}}" class="btn btn-info" style="width: 100px;" onclick="return confirm('Are you want to unblock? {{this.name}}')">Unblock</a></td>
                {{else}}
                <td><a href="/admin/block-user/{{this._id}}" class="btn btn-danger" style="width: 100px;" onclick="return confirm('Are you want to block? {{this.name}}')">Block</a></td>
                {{/if}}
            </tr> 
            {{/each}}
        </tbody>

    </table>
</section>