<%-include('../user/layouts/user-header.ejs')%>
	<section class="container-fluid">
        <div class="vh-100">
            <div class="row justify-content-center">
                <h2>Your Order is successfull!!!</h2>
            </div>
            <div class="row justify-content-center">
                <p><a href="/shop" class="btn btn-primary m-2">Shop More</a></p>
                <p><a href="/orders" class="btn btn-primary m-2">Go to Orders</a></p>
            </div>
        </div>
    </section>
	<%-include('../user/layouts/user-footer.ejs') %>
    <%-include('../user/layouts/user-script.ejs')%>