<div class="row">
  <div class="col-md-12 text-center">
    <p>
      Copyright &copy;
      <script>document.write(new Date().getFullYear());</script> All rights reserved | Libhrex International Pvt Ltd
    </p>
  </div>
</div>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
  </svg></div>


<script src="/userside/js/jquery.min.js"></script>
<script src="/userside/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/userside/js/popper.min.js"></script>
<script src="/userside/js/bootstrap.min.js"></script>
<script src="/userside/js/jquery.easing.1.3.js"></script>
<script src="/userside/js/jquery.waypoints.min.js"></script>
<script src="/userside/js/jquery.stellar.min.js"></script>
<script src="/userside/js/owl.carousel.min.js"></script>
<script src="/userside/js/jquery.magnific-popup.min.js"></script>
<script src="/userside/js/aos.js"></script>
<script src="/userside/js/jquery.animateNumber.min.js"></script>
<script src="/userside/js/bootstrap-datepicker.js"></script>
<script src="/userside/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/userside/js/google-map.js"></script>
<script src="/userside/js/main.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="/adminside/vendor/jquery/jquery.min.js"></script>
<script src="/adminside/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/adminside/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/adminside/js/sb-admin-2.min.js"></script>

<script src="/javascripts/form_validation.js"></script>

</body>

</html>