
<script src="/userside/js/jquery.min.js"></script>
<script src="/userside/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/userside/js/popper.min.js"></script>
<script src="/userside/js/bootstrap.min.js"></script>
<script src="/userside/js/jquery.easing.1.3.js"></script>
<script src="/userside/js/jquery.waypoints.min.js"></script>
<script src="/userside/js/jquery.stellar.min.js"></script>
<script src="/userside/js/owl.carousel.min.js"></script>
<script src="/userside/js/jquery.magnific-popup.min.js"></script>
<script src="/userside/js/aos.js"></script>
<script src="/userside/js/jquery.animateNumber.min.js"></script>
<script src="/userside/js/bootstrap-datepicker.js"></script>
<script src="/userside/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/userside/js/google-map.js"></script>
<script src="/userside/js/main.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
<script src="/javascripts/user-ajax.js"></script>

</body>

</html>